<?xml version="1.0"?>
<launch>
    <node name="js_perception" pkg="joy" type="joy_node" respawn="true" respawn_delay="2">
        <param name="~autorepeat_rate" value="20"/>
        <remap from="/joy" to="/js_signal"/>
    </node>
    <node pkg="joystick" name="js_controller" type="js_controller.py" respawn="true" respawn_delay="2" />
</launch>
